.header{
    background-color: rgb(63, 218, 63);
    height: 500px;
    }
    
    .header ul li{
    color: white;
    margin-top: 30px;
    list-style: none;
    margin-right: 20px;
    }
    
    .header ul{
    display: flex;
    justify-content: flex-end;
    }

    .button{
    margin-right: 80px !important;
    }
    
    .header span{
    color: white;
    margin-left: 50px;
    margin-top: 15px;
    font-size: 25px;
    position: absolute;
    }

    .conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

    .conteudo h1{
    font-size: 50px;
    color: white;
    margin: 110px 0 15px 0;
    }

    .conteudo p {
        padding: 0;
        margin: 0;
        font-size: 18px;
        color: white;
    width: 50%;
    }