<div class="container">

<div class=" d-flex justify-content-center align-items-center my-5">
<h2 class="Services">Services</h2>
</div>

 <div class="row">
     <div class="col-sm">
         <h4>24/7 Support</h4>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id impedit culpa reprehenderit placeat blanditiis? Repudiandae, inventore dolore! Accusamus laborum voluptas, doloribus harum molestias quasi magnam iste ut dolorem distinctio dicta.</p>
     </div>
     <div class="col-sm">
         <h4>Quick Install</h4>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id impedit culpa reprehenderit placeat blanditiis? Repudiandae, inventore dolore! Accusamus laborum voluptas, doloribus harum molestias quasi magnam iste ut dolorem distinctio dicta.</p>
     </div>
     <div class="col-sm">
         <h4>Easy to Customize</h4>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id impedit culpa reprehenderit placeat blanditiis? Repudiandae, inventore dolore! Accusamus laborum voluptas, doloribus harum molestias quasi magnam iste ut dolorem distinctio dicta.</p>
     </div>
 </div> 
 <div class="row">
     <div class="col-sm">
         <h4>Another Feature</h4>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id impedit culpa reprehenderit placeat blanditiis? Repudiandae, inventore dolore! Accusamus laborum voluptas, doloribus harum molestias quasi magnam iste ut dolorem distinctio dicta.</p>
     </div>
     <div class="col-sm">
         <h4>24/7 Support</h4>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id impedit culpa reprehenderit placeat blanditiis? Repudiandae, inventore dolore! Accusamus laborum voluptas, doloribus harum molestias quasi magnam iste ut dolorem distinctio dicta.</p>
     </div>
     <div class="col-sm">
         <h4>Quick Install</h4>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id impedit culpa reprehenderit placeat blanditiis? Repudiandae, inventore dolore! Accusamus laborum voluptas, doloribus harum molestias quasi magnam iste ut dolorem distinctio dicta.</p>
     </div>
 </div> 
    
</div>
