<div class="container mt-3">

<div class="featuresTitulo my-5">
<h2>Features</h2>
</div>

<div class="row">
    <div class="col-sm d-flex justify-content-center align-items-center flex-column">
        <h4 class="featuresTexto">Responsive Design</h4>
        <p class="featuresSubTexto text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque tempora veritatis cum autem non voluptatem magni iusto maiores commodi quidem labore esse quisquam eligendi molestias quae soluta, at minus expedita.</p>
    </div>
    <div class="col-sm d-flex justify-content-center align-items-center flex-column">
        <h4 class="featuresTexto">Clean Code</h4>
        <p class="featuresSubTexto text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque tempora veritatis cum autem non voluptatem magni iusto maiores commodi quidem labore esse quisquam eligendi molestias quae soluta, at minus expedita.</p>
    </div>
    <div class="col-sm d-flex justify-content-center align-items-center flex-column">
        <h4 class="featuresTexto">24/7 Support</h4>
        <p class="featuresSubTexto text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque tempora veritatis cum autem non voluptatem magni iusto maiores commodi quidem labore esse quisquam eligendi molestias quae soluta, at minus expedita.</p>
    </div>

    <div class="col-sm d-flex justify-content-center align-items-center flex-column">
        <h4 class="featuresTexto">Modern Design</h4>
        <p class="featuresSubTexto text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque tempora veritatis cum autem non voluptatem magni iusto maiores commodi quidem labore esse quisquam eligendi molestias quae soluta, at minus expedita.</p>
    </div>

</div>
</div>

