@import '~bootstrap/dist/css/bootstrap.min.css';

.featuresTitulo h2{
color: rgb(133, 133, 133);
font-size: 35px;
padding-bottom: 10px;
border-bottom: 1px solid rgb(26, 192, 48);
}
.featuresTitulo{
display: flex;
justify-content: center;
align-items: center;
}

.featuresTexto{
font-size: 20px;
color: rgb(77, 77, 77);
}

.featuresSubTexto{
color: rgb(143, 143, 143);
}