@import '~bootstrap/dist/css/bootstrap.min.css';

.install{
background-color: rgb(238, 238, 238);
}

.installTitle{
color: rgb(102, 102, 102);
}

.installSubText{
color: rgb(160, 160, 160);
}

.imagem{
width: 100%;
}