<div class="container-fluid py-5 install d-flex mt-5">
  <div class="row">
    <div class="col-sm d-flex justify-content-center align-items-center">
      <img class="imagem" src="../../assets/images/Macbook.jpg" />
    </div>
    <div class="col-sm d-flex justify-content-center flex-column">
      <h4 class="installTitle mt-5">Quick Install</h4>
      <p class="installSubText">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, pariatur
        facilis ipsa unde recusandae ad obcaecati, tempora voluptatum laborum
        cumque cum culpa rerum quae! Amet mollitia repellat voluptas adipisci.
        Fugit.
      </p>

      <h4 class="installTitle mt-5">Quick Install</h4>
      <p class="installSubText">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, pariatur
        facilis ipsa unde recusandae ad obcaecati, tempora voluptatum laborum
        cumque cum culpa rerum quae! Amet mollitia repellat voluptas adipisci.
        Fugit.
      </p>
    </div>
  </div>
</div>
