<div class="container">
  <div class="d-flex justify-content-center align-items-center my-5">
    <h2 class="PriceTitle">Price Table</h2>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="Price d-flex justify-content-center align-items-center flex-column p-3">
        <h4> <small>$</small>12 <span>/month</span></h4>
        <p class="buyType">Basic</p>
        <p class="PriceText">FREELANCER</p>
      </div>
      <div class="PriceSub d-flex justify-content-center align-items-center flex-column p-3">
        <p class="PriceText">1000 video lessons</p>
        <p class="border"></p>
        <p class="PriceText">Normal speed</p>
        <p class="border"></p>
        <p class="PriceText">500 solved exercised</p>
        <p class="border"></p>
        <p class="PriceText">300MB to save your code</p>
        <p class="border"></p>
        <p class="PriceText">750 hour of support</p>
        <p class="border"></p>
        <button class="button">Sign up</button>
      </div>
    </div>
    <div class="col-sm">
        <div class="PriceBest d-flex justify-content-center align-items-center flex-column p-3">
          <h4 class="PriceTextBest"> <small class="PriceTextBest">$</small>35 <span class="PriceTextBest">/month</span></h4>
          <p class="buyType PriceTextBest">Ultimade</p>
          <p class="PriceText PriceTextBest">BEST VALUE</p>
        </div>
        <div class="PriceSub d-flex justify-content-center align-items-center flex-column p-3">
          <p class="PriceText">3000 video lessons</p>
          <p class="border"></p>
          <p class="PriceText">2x speed</p>
          <p class="border"></p>
          <p class="PriceText">2000 solved exercised</p>
          <p class="border"></p>
          <p class="PriceText">500MB to save your code</p>
          <p class="border"></p>
          <p class="PriceText">900 hour of support</p>
          <p class="border"></p>
          <button class="button">Sign up</button>
        </div>
      </div>
      <div class="col-sm">
        <div class="Price d-flex justify-content-center align-items-center flex-column p-3">
          <h4> <small>$</small>75 <span>/month</span></h4>
          <p class="buyType">Platinum</p>
          <p class="PriceText">BIG COMPANY</p>
        </div>
        <div class="PriceSub d-flex justify-content-center align-items-center flex-column p-3">
          <p class="PriceText">5000 video lessons</p>
          <p class="border"></p>
          <p class="PriceText">4x speed</p>
          <p class="border"></p>
          <p class="PriceText">4000 solved exercised</p>
          <p class="border"></p>
          <p class="PriceText">900MB to save your code</p>
          <p class="border"></p>
          <p class="PriceText">Unlimited hour of support</p>
          <p class="border"></p>
          <button class="button">Sign up</button>
        </div>
      </div>
  </div>
</div>
