<div class="header">
    <span class="">Awesome</span>
 <ul>
     <li>Features</li>
     <li>Services</li>
     <li>Call to action</li>
     <li>Price</li>
     <li>About</li>
     <li>Testimonial</li>
     <li class="button">Button</li>
 </ul>



<div class="conteudo">
   <h1>Awesome Template</h1>
   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, quisquam eligendi? Eius eum officia, distinctio praesentium possimus dicta odit, fuga dolor rem earum doloremque fugit itaque quia culpa nam corporis?</p>
</div>


</div>


