@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~font-awesome/css/font-awesome.css';

.FooterTitle {
    color: rgb(255, 255, 255);
    font-size: 35px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
  }

  .footer{
  background-color: rgb(125, 187, 33);
  }