<div class="container-fluid mt-5">
    <div class="footer p-4 row">
        <div class="col d-flex justify-content-center align-items-center flex-column">
            <h2 class="FooterTitle">Testimonial</h2>
            <p class="mt-5 text-center text-white w-75">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quae laudantium perspiciatis odio est eos beatae adipisci, impedit dolorem tenetur maxime, amet voluptatibus iste saepe modi corrupti, quaerat enim labore!</p>
        </div>
    </div>


<div class="row my-4">
<div class="col d-flex justify-content-center align-items-center flex-column">
<small>@import template by <a>Template Stock</a></small>
</div>
</div>

</div>


