<div class="container">

<div class=" d-flex justify-content-center align-items-center my-5">
<h2 class="Services">Services</h2>
</div>

 <div class="row">
     <div class="col-sm">
         <h4>24/7 Support</h4>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id impedit culpa reprehenderit placeat blanditiis? Repudiandae, inventore dolore! Accusamus laborum voluptas, doloribus harum molestias quasi magnam iste ut dolorem distinctio dicta.</p>
     </div>
     <div class="col-sm">
         <h4>Quick Install</h4>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id impedit culpa reprehenderit placeat blanditiis? Repudiandae, inventore dolore! Accusamus laborum voluptas, doloribus harum molestias quasi magnam iste ut dolorem distinctio dicta.</p>
     </div>
     <div class="col-sm">
         <h4>Easy to Customize</h4>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id impedit culpa reprehenderit placeat blanditiis? Repudiandae, inventore dolore! Accusamus laborum voluptas, doloribus harum molestias quasi magnam iste ut dolorem distinctio dicta.</p>
     </div>
 </div> 
 <div class="row">
     <div class="col-sm">
         <h4>Another Feature</h4>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id impedit culpa reprehenderit placeat blanditiis? Repudiandae, inventore dolore! Accusamus laborum voluptas, doloribus harum molestias quasi magnam iste ut dolorem distinctio dicta.</p>
     </div>
     <div class="col-sm">
         <h4>24/7 Support</h4>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id impedit culpa reprehenderit placeat blanditiis? Repudiandae, inventore dolore! Accusamus laborum voluptas, doloribus harum molestias quasi magnam iste ut dolorem distinctio dicta.</p>
     </div>
     <div class="col-sm">
         <h4>Quick Install</h4>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id impedit culpa reprehenderit placeat blanditiis? Repudiandae, inventore dolore! Accusamus laborum voluptas, doloribus harum molestias quasi magnam iste ut dolorem distinctio dicta.</p>
     </div>
 </div> 

<div class="row my-5">
 <div class="col callToAction p-5">
 <h2 class="callToActionTitle">Call to Action</h2>
 <div class="borda d-flex justify-content-center align-items-center">
 <p class="border"></p>
</div>
 <p class="callToActionText text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quo quia eligendi perferendis consectetur corporis culpa numquam, reprehenderit porro nisi rerum voluptate. Velit voluptates optio dolorum quam. Omnis, accusamus vel?</p>
 </div>
</div>
    
</div>
